{% extends '../base.html' %}
{% load static %}
{% load tailwind_tags %}

{% block content %}
<div class="flex flex-col md:flex-row max-h-[calc(100vh-4rem)] w-full">
    <!-- Left side - Form -->
    <div class="w-full md:w-1/2 p-4 md:p-8 lg:p-12 flex flex-col justify-center">
        <div class="max-w-md mx-auto">
            <h1 class="text-3xl font-bold text-neutral-950 mb-8">Log in</h1>
              <form method="post" class="space-y-4">
                {% csrf_token %}               
                <div class="space-y-2">
                    <label for="id_email" class="block text-sm text-neutral-950">Email Address</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ form.email.errors.0 }}</p>
                    {% endif %}
                </div>
                  <div class="space-y-2">
                    <label for="id_password" class="block text-sm text-neutral-950">Your Password</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ form.password.errors.0 }}</p>
                    {% endif %}
                </div>
                  <button type="submit" class="w-full py-3 bg-orange-400 text-white rounded-md hover:bg-orange-500 transition duration-300 cursor-pointer font-medium">Log In</button>
                  <p class="text-sm text-neutral-500 text-center"><a href="{% url 'theme:password_reset_request' %}" class="text-orange-400 hover:underline">Forgot your password?</a></p>
                
                <div class="text-sm text-neutral-700">
                    <p>By continuing, you agree to Donezo's <a href="{% url 'theme:terms-of-service' %}" class="text-orange-400 hover:underline">Terms of Service</a> and 
                    <a href="{% url 'theme:privacy-policy' %}" class="text-orange-400 hover:underline">Privacy Policy</a>.</p>
                </div>
            </form>
              <div class="mt-6 text-center">
                <p class="text-sm text-neutral-700">
                    Don't have an account? <a href="{% url 'theme:register' %}" class="text-orange-400 hover:underline font-medium">REGISTER HERE!</a>
                </p>
            </div>
        </div>
    </div>
    
    <!-- Right side - Image -->
    <div class="hidden md:flex md:w-1/2 bg-orange-50 items-center justify-center p-4">
        <img src="{% static 'images/Mobile login-rafiki.png' %}" alt="Login illustration" class="max-w-full max-h-full object-contain">
    </div>
</div>
{% endblock %}